<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components &amp; Controls</key>
	<array>
		<dict>
			<key>UID</key>
			<string>2</string>
			<key>Title</key>
			<string>GridView</string>
			<key>SubTitle</key>
			<string>GridView</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>UID</key>
					<string>201</string>
					<key>Title</key>
					<string>Vertical GridView</string>
					<key>SubTitle</key>
					<string>Vertically Scrollable</string>
				</dict>
				<dict>
					<key>UID</key>
					<string>202</string>
					<key>Title</key>
					<string>Horizontal &amp; Paged</string>
					<key>SubTitle</key>
					<string>Similar to phone&apos;s Home Screen</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>UID</key>
			<string>3</string>
			<key>Title</key>
			<string>Move &amp; Scale</string>
			<key>SubTitle</key>
			<string>Move &amp; Scale Images</string>
		</dict>
	</array>
	<key>Extensions</key>
	<array>
		<dict>
			<key>UID</key>
			<string>4</string>
			<key>Title</key>
			<string>NSArray</string>
			<key>SubTitle</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>5</string>
			<key>Title</key>
			<string>NSBundle</string>
			<key>SubTitle</key>
			<string>NSBundle</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>6</string>
			<key>Title</key>
			<string>NSDate</string>
			<key>SubTitle</key>
			<string>NSDate</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>7</string>
			<key>Title</key>
			<string>NSObject</string>
			<key>SubTitle</key>
			<string>NSObject</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>8</string>
			<key>Title</key>
			<string>NSString</string>
			<key>SubTitle</key>
			<string>NSString</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>9</string>
			<key>Title</key>
			<string>UIAlert</string>
			<key>SubTitle</key>
			<string>UIAlert</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>10</string>
			<key>Title</key>
			<string>UIColor</string>
			<key>SubTitle</key>
			<string>UIColor</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>11</string>
			<key>Title</key>
			<string>UIImage</string>
			<key>SubTitle</key>
			<string>UIImage</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>12</string>
			<key>Title</key>
			<string>UIScreen</string>
			<key>SubTitle</key>
			<string>UIScreen</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>13</string>
			<key>Title</key>
			<string>UIView</string>
			<key>SubTitle</key>
			<string>UIView</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>14</string>
			<key>Title</key>
			<string>UITableView</string>
			<key>SubTitle</key>
			<string>UITableView</string>
		</dict>
	</array>
	<key>Util Libraries</key>
	<array>
		<dict>
			<key>UID</key>
			<string>1</string>
			<key>Title</key>
			<string>XML Representation</string>
			<key>SubTitle</key>
			<string>XML Representation</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>15</string>
			<key>Title</key>
			<string>Base 64</string>
			<key>SubTitle</key>
			<string>Base 64</string>
		</dict>
	</array>
</dict>
</plist>
